html {
  font-size: 18px !important;
}

.side-bar {
  color: $nav-text;
}

hr {
  background-color: $orange-lighter;
  clear: right; // clear floating images
}

.site-header {
  margin-top: 0;
  border-bottom: thick double $orange-light;
  font-size: 1.1rem;
  min-height: 120px;

  a:hover {
      background: unset;
  }
}


#main-header {
  border-bottom: 1px solid $grey-lt-300;
}

.site-title {
  color: $nav-text;
  padding: 0;
  margin: 0;
}

#site-nav {
  padding-top: 1rem;
}


// the next few overrides of just the docs could probably be made more elegant
.nav-list .nav-list-item .nav-list-expander {
  color: yellow;

  &:hover {
      background: $green-200;
  }
}

.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-expander {
  color: $purple-300;
}

.nav-list .nav-list-item.active .nav-list-expander {
  color: $purple-100;
}


.site-footer {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #959396;

  a {
    color: #959396;
    font-weight: 300;
    
    &:hover {
      color: #959396;
    }
    
    &:visited {
      color: #959396;
    }
  }
}

.main {
  padding: 0;
  min-height: 100vh;
  max-width: unset;
}

.main-content-wrap {
  padding-top: 0;
}

.main-content {
  line-height: 1.4;
  font-family: Georgia, 'Times New Roman', Times, serif;

  p, li {
    font-weight: 400;
  }
  
  strong {
    color: $green-300;
    font-weight: 600;
  }
  
  a {
    color: $green-darker;
    text-decoration: underline;
    font-weight: 500;
    
    &:hover {
      color: $orange-light;
    }
    
    &:visited {
      color: $green-darker;
    }
  }
}

#main-header {
  background: unset;
  border: none;
  height: 100%; // overrides Just the Docs
}


.aux-nav {
  font-weight: 500 !important;
  background: unset;

  .aux-nav-list {
    background: unset;
  }

  .aux-nav-list-item {
    margin-left: 0.5rem;
    background: #e3e3e3;    

    &:hover {
    }
  }
}


a.site-button {
    
    &:hover {
      color: $green-darker;
      background: $orange-lighter;
    }
    
    &:visited {
      color: $green-darker;
    }
}

.search-input {
  background-color: $green-000;
  border: 1px solid $nav-border;
  color: #013410;
  
  &::placeholder {
    color: rgba(33, 52, 53, 0.7);
  }
  
  &:focus {
    background-color: $orange-light;
    border-color: $nav-border;
  }
}

.breadcrumb-nav-list {

}

.breadcrumb-nav-list-item {
  font-size: 1.1rem;
  
  a {
    color: $green-300;
    font-weight: 500;
  }
  &:visited{
    color: $green-300;
  }
}

// headers in main content
.main-content {
  h1 {
    margin-top: 0;
    font-size: 3rem !important;
    font-family: Arial, sans-serif;
    color: $off-white;

    -webkit-text-stroke: #333;
    text-shadow: -1px 0 #333, 0 1px #333, 
                  1px 0 #333, 0 -1px #333;

    border-bottom: 4px double #bc8b62;
    clear: right; // keeps border line from overlapping floating images
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.05em;
  }

  h2 {
    margin-top: 0;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    color: #555555;
    font-weight: 500;
    font-size: 1.7rem !important;
    letter-spacing: -0.05em;
    border-bottom: 1px solid $orange-lighter;
    clear: right; // keeps border line from overlapping floating images
  }

  h3, h4, h5, h6 {
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    text-decoration: underline;
    color: #555555;
    font-weight: 500;
    letter-spacing: -0.05em;
    font-size: 1.1rem !important;
  }
}

.float-right-third {
  float: right;
  width: calc(33% - 1rem);
  margin: 0.5rem 0 0.5rem 1rem;
}

.captioned-image {

  figcaption {
    color: $green-darker;
    font-size: 0.9rem;
    line-height: 0.9;
  }
}

blockquote, p.note, p.warning, p.important, p.idea {
  clear: right; // callouts will appear below floating photos, like h1 and h2
}

// Responsive layout adjustments
@media (max-width: map-get($breakpoints, 'md')) {

}

@media (max-width: map-get($breakpoints, 'sm'))
{
  .nav-list .nav-list-item .nav-list-link {
    padding: 0.5rem; // Tighter padding
  }

  .float-right-third, .float-right-third {
    float: none;
    width: auto; // let them take up the full column if needed
    margin: 0.5rem 0.5rem;
  }
}

// Print-only styles.
@media print {
  .side-bar,
  .page-header,
  .site-header {
    display: none;
  }

  .body {
    font-size: 0.9rem;
  }

  .main-content {
    max-width: auto;
    width: auto;
    padding: 0;
    margin: 0;
    line-height: 1.2;
  }

  .main-content-wrap {
    padding: 0;
    margin: 0;
    max-width: auto;
    width: auto;
  }

  .side-bar + .main {
    margin: auto;
  }
}
