$body-text-color:       $adaptation-purple;
$body-heading-color:    $adaptation-purple;
$link-color:            $purple-300;
$sidebar-color:         $adaptation-purple;
$nav-child-link-color:  $adaptation-green;
$border-color:          $green-100;