{% comment %}
    TRUE VERSUS "TRUE"
    Some attributes can be set by passing the string "true" into this template.
    For example, the thumbnail attribute. That is why some comparisons use the
    language builtin true and others compare to the string "true".
{% endcomment %}

{%- assign img-style = false -%}
{%- assign img-src   = false -%}
{%- assign img-link  = false -%}
{%- assign display-mode  = false -%}

{%- if include.width or include.height -%}
    {%- assign img-style = true -%}
{%- endif -%}

{% comment %}
    For links that begin with http, they are used as-is. Other links are assumed to be
    internal and are parsed with the url filter.

    If the link parameter is used, the URL will be set to its contents. If the
    thumbnail parameter has been used, the URL will automatically be set to the original
    image. Otherwise, no link will be generated for the image.
{% endcomment %}

{%- assign downcase-src = include.src | downcase -%}
{%- if downcase-src contains "http" -%}
    {%- assign img-src = downcase-src -%}
{%- else -%}
    {% assign img-src = downcase-src | relative_url %}
{%- endif -%}

{%- if include.link -%}
    {%- assign downcase-link = include.link | downcase -%}
    {%- if downcase-link contains "http" -%}
        {%- assign img-link = downcase-link -%}
    {%- else -%}
        {% assign img-link = downcase-link | relative_url %}
    {%- endif -%}
{%- elsif include.mode == "thumbnail" or include.mode == "gallery" -%}
    {%- assign img-link = img-src -%}
    {%- assign display-mode = {{include.mode}} -%}
{%- endif -%}

<div class="image-figure-wrap {%- if display-mode %} {{display-mode}}{%- endif -%}">

    <figure class="image-figure {% if include.caption %}captioned{%- endif -%}">
{%- if img-link -%}
        <a href="{{- img-link -}}">
{%- endif -%}
            <img
                src="{{- img-src -}}"
                alt="{%- if include.alt -%}{{- include.alt -}}{%- else -%}WARNING: ALT TEXT NOT FOUND{%- endif -%}"
                class="content-image-figure"
                {%- if img-style == true %}
                    style="{%- if include.width -%}width: {{- include.width -}};{%- endif -%}{%- if include.height -%}height: {{- include.height -}};{%- endif -%}"
                {% endif -%}
            >
{%- if img-link -%}
        </a>
{%- endif -%}

{% if include.caption %}
        <figcaption class="image-caption">
{%- if img-link -%}
            <a href="{{- img-link -}}">
{%- endif -%}
                {{-include.caption-}}
{%- if img-link -%}
            </a>
{%- endif -%}  
        </figcaption>
{%- endif -%}

    </figure>
</div>
